<h1>You are part of the Preston Community</h1>

<div>

<div class='products-group'>
  <% @products.each do |product| %>
  <div class='product-box'>
    <div class='product-card'>
      <p class='name'><%= product.name %></p>
      <% image_tag product.photos if product.photos.attached? %>

      <%# <p><%= product.description %>
      <p>$<%= product.price %> for <%= product.quantity %></p>
      <p>Seller: <%= product.user %> </p>

      <p><%= link_to 'See more details', product_path(product) %>
    </div>
  </div>
  <% end %>

</div>


<div>