
<div class='product-wrapper'>

 <div class='prod-img'>
      <p><%= image_tag @product.photo if @product.photo.attached? %> </p>
    </div>

  <div class='product-details'>

    <h1><%= @product.name %> </h1>

    <p>Description: <br>
    <%= @product.description %></p>
   
    <p>Cost: <br>
    $<%= @product.price %> for <%= @product.quantity %>kg</p>
      <p>Selected delivery option (Pick-up/Delivery/Either): <br>
      <%= @product.delivery_option %> </p>
      <p>Available from: <%= @product.date_available %></p>
      <div> <% if user_signed_in? %>
          <% if current_user.id != @product.user_id %>
          <% wishlist_class = 'in-wishlist' if current_user.wishlist_products.where(product: @product).any? %>
          <%= button_to 'Add to wishlist', add_wishlist_product_path(@product), :class => "wishlist-btn #{wishlist_class}" %>
          <%= button_to 'Add to Basket', add_cart_item_path(@product.id), :class => 'basket-btn'%>
          <% end %>
       <% end %>
      </div>

    <h3>About the seller </h3>
    <div class='about-s'>
      <div class='seller-img'><%= image_tag @product.user.profile if @product.user.profile.attached? %></div>
      <div><%= @product.user.firstname %><br>
      <%= @product.user.bio %><br>
      Questions? <%= @product.user.email %></div>
    </div>
    </div>
   
  <%# change to add-to-cart path  %>
    
  
</div>

