<h1><%= @product.name %> </h1>

   <p>Description: <%= @product.description %></p>
      <p>Cost: </p>
      <p>$<%= @product.price %> for <%= @product.quantity %></p>
      <p><%= image_tag @product.photo if @product.photo.attached? %> </p>
      <p><%= @product.delivery_option %> available</p>





<p>Find me in app/views/products/show.html.erb</p>
