
<div class='product-wrapper'>

 <div class='prod-img'>
      <p><%= image_tag @product.photo if @product.photo.attached? %> </p>
    </div>

  <div class='product-details'>

    <h1><%= @product.name %> </h1>

    <p>Description: <br>
    <%= @product.description %></p>
    <p>Produced by: <br>
    <%= @product.user.firstname %><br>
    Questions? <%= @product.user.email %></p>
    <p>Cost: <br>
    $<%= @product.price %> for <%= @product.quantity %>kg</p>
      <p>Selected delivery option (Pick-up/Delivery/Either): <br>
      <%= @product.delivery_option %> </p>
      <p>Available from: <%= @product.date_available %></p>
      <% if current_user.id != @product.user_id %>
        <%= button_to 'Add to Basket', add_cart_item_path(@product.id) %>
      <%end %>
    </div>
   
  <%# change to add-to-cart path  %>
    
  
</div>

