
<h1>Welcome, <%= current_user.firstname%></h1>


<h3>About you:</h3>

<div class='profile-info'>
  <%= image_tag current_user.profile if current_user.profile.attached? %>
  <p>Name: <%= current_user.firstname %> <%= current_user.lastname %> </p>
  <p>Email: <%= current_user.email %>
  <p>Bio: <%= current_user.bio %></p>

  <%= link_to "edit details", edit_user_registration_path %>
</div>
<div class='user-products'>
  <h2>My products</h2>
  <%= link_to "add a product", new_product_path %>
  <table>
  <% @products.each do |product|%>
  <tr>
    <td><%= product.name  %></td>
    <td><%= link_to "View product", product_path(product) %></td>
    <td><%= link_to "Edit product", edit_product_path(product) %></td>
    <td><%= link_to 'Delete', product_path(product), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </table>
</div>
<div class='wishlist'>
  <h2>My Wishlist</h2>
  <table>
  <% current_user.wishlist_products.each do |wish| %>
    <tr>
      <td><%= wish.product.name %> </td>
      <td><%= wish.product.description %></td>
      <td><%= wish.product.user.firstname %></td>
      <td><%= link_to 'Remove', wishlist_product_path(wish), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
    <% end %>
  </table>

</div>







<p>Find me in app/views/profile/show.html.erb</p>

