<!DOCTYPE html>
<html>
  <head>
    <title>ProduceMarket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
   <div>
      <% if user_signed_in? %>
        Welcome, <%= current_user.email%>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign up', new_user_registration_path %>
        <%= link_to 'Sign in', new_user_session_path %>
      <% end %>
    </div>
    <div>
    <%= image_tag "juice.png" %>
    SharedTable
    </div>
    <nav>
   
      <ul class='navlinks'>
        <li><%= link_to 'Check out the Market', products_path %></li>
        <li><%= link_to 'Contribute', new_product_path %></li>
        <li><%= link_to 'About us', products_path %></li>
      </ul>
    </nav>
  </header>

    <%= yield %>
  </body>
</html>
