<!DOCTYPE html>
<html>
  <head>
    <title>The Agora</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div class='user-nav'>
      <div class='main-logo'>
        <h1><%= link_to 'Agora', '/' %></h1>
      </div>
      <div class='user-links'>
        <% if user_signed_in? %>
          <%= image_tag current_user.profile if current_user.profile.attached? %>
          <p>Hi there, <%= link_to current_user.firstname, profile_show_path %></p>
          <%# <%= link_to 'Sign out', destroy_user_session_path, method: :delete %> 
        <% else %>
          <p>__<%= link_to 'Sign up', new_user_registration_path %><p>__or__
          <p><%= link_to 'Sign in', new_user_session_path %>__</p>
        <% end %>
      </div>
    </div>
    <nav>
      <ul class='navlinks'>
        <li><%= link_to 'Check out the Market', products_path %></li>
        <li><%= link_to 'Contribute', new_product_path %></li>
        <li><%= link_to 'Basket', cart_items_path %></li>
        <li><%= link_to 'About us', about_path %></li>
      </ul>
    </nav>
  </header>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %> 
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>

    <footer>
      <p>✉️ customerservice@agora.com</p>
      <p> _📷 insta: @modern_agora</p>
    </footer>
  </body>

</html>
